<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="CONEXION" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-KJ1KTE2\SQLEXPRESS; Initial Catalog=Encuestas; Persist Security Info=False; User ID=user; Password=user"/>
  </connectionStrings>
</configuration>
